.navbar {
  width: 100%;
  min-height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 21px;
  background: white;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.navbar ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: space-evenly;
}

.navbar li {
  text-align: center;
}

.link {
  text-decoration: none;
  font-family: 'Red Hat Display', sans-serif;
}

@media only screen and (max-width: 414px) {
  .navbar ul {
    padding-left: 0px;
  }
  .navbar li {
    font-size: 15px;
  }
}